.comment {
	display: flex;
	gap: 16px;
	margin-bottom: 16px;
}

.comment-head {
	display: flex;
	gap: 6px;
	align-items: end;
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.username {
	margin-bottom: 4px;
}

.username span {
	font-weight: 500;
}
